body {
    margin: 0;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game {
    position: relative;
    width: 600px;
    height: 600px;
    background: #222;
    border: 3px solid #444;
    overflow: hidden;
}

.room-tile {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #333;
    border: 1px solid #555;
}

#player {
    position: absolute;
    width: 30px;
    height: 30px;
    background: yellow;
    left: 285px;
    top: 285px;
}

/* ëª¹ */
.a15 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url("img/A-15.png") no-repeat center/contain;
}

.a35 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url("img/A-35.png") no-repeat center/contain;
}

.a60 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url("img/A-60.png") no-repeat center/contain;
}